@**
* Generate an athlete radio group with a table.
*
* Example:
* {{{
* @athleteCheckboxGroup(
*           f("athletes"),
*           options = Seq(athlete1, athlete2)
*           '_label -> "Available Players",
*           '_error -> f("athletes").error.map(_.withMessage("select one or more athletes")))
*
* }}}
*
* @param field The form field.
* @param options Sequence of options as pairs of value and HTML
* @param args Set of extra HTML attributes.
* @param handler The field constructor.
*@
@(field: play.api.data.Field, options: Seq[Athlete], args: (Symbol,Any)*)(implicit handler: FieldConstructor, lang: play.api.i18n.Lang)

@input(field, args:_*) { (id, name, value, htmlArgs) =>
<table class="table table-hover">
    <thead>
    <tr>
        <td></td>
        <td>Player Name</td>
        <td>Solo-Queue Rating</td>
        <td>Best Champions</td>
        <td>Best Lanes</td>
    </tr>
    </thead>
    <tbody>
    @defining(field.indexes.map( i => field("[%s]".format(i)).value ).flatten.toSet) { values =>
        @for(athlete <- options) {
            <tr>
                <td>
                    <input type="checkbox" id="@(id)_@athlete.id" name="@{name + "[]"}" value="@athlete.id" @(if(values.contains(athlete.id)) "checked" else "") @toHtmlArgs(htmlArgs)>
                </td>
                <td>
                    @athlete.name
                </td>
                <td>
                    @athlete.soloQueueRating
                </td>
                <td>
                    @for(champion <- athlete.getTopChampions(4)) {
                        @championIconHelper(champion.getChampionName()) <span class="label label-primary">@champion.getRoundedStrength()</span>
                    }
                </td>
                <td>
                    @for(lane <- athlete.getTopLanes(3)) {
                        @lane.getLaneName() <span class="label label-primary">@lane.getRoundedStrength()</span>
                    }
                </td>
            </tr>
        }
    }
    </tbody>
</table>
}