@font-face {
  font-family: FrizQuadrata;
  src: url('../fonts/frquad.ttf');
}

html * {
    font-family: "FrizQuadrata";
}

.navbar-logo {
    color: #777;
    float: left;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}

.navbar-logo:hover {
    color: #777;
    text-decoration: none;
}

.nav-text {
    float: left;
    padding: 18px;
    font-size: 19px;
}

.navbar {
    padding: 0 15%;
    margin: 0px;
}

.view-tab {
    border-color: #e7e7e7;
    border: 1px solid transparent;
}

.small-panel {
    margin: 1% 10% 0;
    width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


/**
 * CSS for handling the logo radio box
 */
.logo-set > input[type=radio]{
  display:none;
}

input[type=radio] + img{
  cursor:pointer;
  border:2px solid #ffffff;
}
input[type=radio]:checked + img{
  border:2px solid #3c763d;
}