/**
 * Font declaration for the League-style font.
 */
@font-face {
  font-family: FrizQuadrata;
  src: url('../fonts/frquad.ttf');
}

html * {
    font-family: "FrizQuadrata";
}

/**
 * Text color
 */
.text-green {
    color: #5cb85c;
}

.text-red {
    color: #d9534f;
}

/**
 * General tools
 */
.inline-block {
    display: inline-block;
}

/**
 * Image styles
 */
.logo-small {
    width: 38px;
}
.logo-medium {
    width: 60px;
}
.division-small {
    width: 25px;
}

/**
 * Styles for the navbar at the top of the game.
 */
.navbar-logo {
    color: #777;
    float: left;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}

.navbar-logo:hover {
    color: #777;
    text-decoration: none;
}

.nav-text {
    float: left;
    padding: 18px;
    font-size: 19px;
}

.navbar {
    padding: 0 15%;
    margin: 0px;
}

.view-tab {
    border-color: #e7e7e7;
    border: 1px solid transparent;
}

/**
 * Used for any errors that happen.
 */
.help-inline {
    color: #b94a48;
    display: block;
}

/**
 * Game panel elements.
 */
.panel-small {
    margin: 1% 10% 0;
    width: 80%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.panel-large {
    margin: 1% 5% 0;
    width: 90%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/**
 * CSS for handling the logo radio box
 */
.logo-set > input[type=radio]{
  display:none;
}

input[type=radio] + img{
  cursor:pointer;
  border:2px solid #ffffff;
}
input[type=radio]:checked + img{
  border:2px solid #3c763d;
}

/**
 * CSS for player group form.
 */
.player-checkbox > input {
    display: none;
}
.hidden {
    display: none;
}

/**
 * Table styles
 */
.roster-init {
    margin: 0 auto;
}

.athlete-selected {
    background-color: #e8e8e8;
}

.row-highlight:hover {
    background-color: #d0d0d0;
}

thead {
    font-weight: bold;
}

.table-sortable {
    cursor: pointer;
}

/**
 * Calendar Styles
 */
.selected-week {
    background-color: #e8e8e8;
}

/**
 * Overview
 */
.overview-ctrl {
    text-align: center;
}

.overview-element {
    padding: 0 0 20px 0;
}

.overview-athlete-item {
    width: 49%;
    padding: 15px 0 0 0 !important;
    overflow: auto;
}

.overview-athlete-image {
    vertical-align: top;
    width: 150px;
}

.overview-athlete-name {
    font-weight: bold;
}

.overview-athlete-info {
    padding: 0 15px;
    width: 65%;
}

.overview-athlete-morale {
    width: 50%;
}

.overview-finance-headings {
    font-weight: bold;
}