@font-face {
  font-family: FrizQuadrata;
  src: url('../fonts/frquad.ttf');
}

html * {
    font-family: "FrizQuadrata";
}

.navbar-logo {
    color: #777;
    float: left;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}

.navbar-logo:hover {
    color: #777;
    text-decoration: none;
}

.nav-text {
    float: left;
    padding: 18px;
    font-size: 19px;
}

.navbar {
    padding: 0 150px;
    margin: 0px;
}

.view-tab {
    border-color: #e7e7e7;
    border: 1px solid transparent;
}