@(initRosterForm: Form[_], athleteList: List[Athlete], localTeam: Team)

@import helper._

@input(initRosterForm("athletes"),
        '_showConstraints -> false,
        '_label -> "",
        '_showErrors -> false
) { (id, name, value, args) =>

<table class="table roster-init">
    <thead>
    <tr>
        <td></td>
        <td>Player Name</td>
        <td>Solo-Queue Rating</td>
        <td>Best Champions</td>
        <td>Lane</td>
    </tr>
    </thead>
    <tbody>
    <tr class="row-highlight" ng-repeat="athlete in recruitableAthletes" ng-click="toggleAthleteSelected(athlete)" ng-class="{hidden: !isVisible(athlete), 'athlete-selected': athlete.selected === true}">
        <td>
            <input ng-model="athlete.selected" type="checkbox" name="@{name + "[]"}" id="@(id)_{{athlete.id}}" value="{{athlete.id}}" @toHtmlArgs(args)>
        </td>
        <td>
            {{athlete.name}}
        </td>
        <td>
            <img class="division-small" ng-src="{{athlete.division_image}}" /> {{athlete.division}}
        </td>
        <td>
            <span ng-repeat="topChampAff in athlete.champion_affinities">
                <img class="champion" ng-src="{{topChampAff.image}}" /> <span class="label label-primary">{{topChampAff.strength}}</span>
            </span>
        </td>
        <td>
            {{athlete.lane}}
        </td>
    </tr>
    </tbody>
</table>


<h2 class="loading-text text-center" ng-hide="recruitableAthletes !== undefined"><i class="glyphicon glyphicon-download"></i> Loading</h2>

<ul class="pagination">
    <li><a href="" ng-click="showPreviousPage()" id="back">&laquo;</a></li>
    <li ng-repeat="page in pages" ng-click="showPage(page)" ng-class="{active: currentPage === page}"><a href="">{{page + 1}}</a></li>
    <li><a href="" ng-click="showNextPage()">&raquo;</a></li>
</ul>
}