@(initRosterForm: Form[_], athleteList: List[Athlete], localTeam: Team)

@import helper._

@input(initRosterForm("athletes"),
        '_showConstraints -> false,
        '_label -> "",
        '_showErrors -> false
) { (id, name, value, args) =>

<span>Filter By:</span>
<select ng-model="selectedLaneFilter">
    <option value="" selected>Lane</option>
    <option value="Top">Top</option>
    <option value="Middle">Middle</option>
    <option value="Bottom">Bottom</option>
    <option value="Jungle">Jungle</option>
</select>

<table class="table roster-init">
    <thead>
    <tr>
        <td></td>
        <td class="table-sortable" ng-click="sortAthletesBy('name')">Player Name <i ng-class="isSelectedColumn('name')" class="glyphicon"></i></td>
        <td class="table-sortable" ng-click="sortAthletesBy('division')">Solo-Queue Rating <i ng-class="isSelectedColumn('division')" class="glyphicon"></td>
        <td class="table-sortable" ng-click="sortAthletesBy('lane')">Lane <i ng-class="isSelectedColumn('lane')" class="glyphicon"></td>
        <td>Best Champions</td>
        <td class="table-sortable" ng-click="sortAthletesBy('salary')">Expected Salary <i ng-class="isSelectedColumn('salary')" class="glyphicon"></td>
        <td class="table-sortable" ng-click="sortAthletesBy('popularity')">Popularity <i ng-class="isSelectedColumn('popularity')" class="glyphicon"></td>
    </tr>
    </thead>
    <tbody>
    <tr class="row-highlight" ng-repeat="athlete in filteredRecruitableAthletes" ng-click="toggleAthleteSelected(athlete)" ng-class="{hidden: !isVisible(athlete), 'athlete-selected': athlete.selected === true}">
        <td>
            <input ng-model="athlete.selected" type="checkbox" name="@{name + "[]"}" id="@(id)_{{athlete.id}}" value="{{athlete.id}}" @toHtmlArgs(args)>
        </td>
        <td>
            {{athlete.name}}
        </td>
        <td>
            <img class="division-small" ng-src="{{athlete.division_image}}" /> {{athlete.division}}
        </td>
        <td>
            {{athlete.lane}}
        </td>
        <td>
            <span ng-repeat="topChampAff in athlete.champion_affinities">
                <img class="champion" ng-src="{{topChampAff.image}}" />
            </span>
        </td>
        <td>
            ${{athlete.salary}}/week
        </td>
        <td>
            <span class="label label-primary">{{athlete.popularity}}</span>
        </td>
    </tr>
    </tbody>
</table>


<h2 class="loading-text text-center" ng-hide="filteredRecruitableAthletes !== undefined"><i class="glyphicon glyphicon-download"></i> Loading</h2>

<ul class="pagination">
    <li><a href="" ng-click="showPreviousPage()" id="back">&laquo;</a></li>
    <li ng-repeat="page in pages" ng-click="showPage(page)" ng-class="{active: currentPage === page}"><a href="">{{page + 1}}</a></li>
    <li><a href="" ng-click="showNextPage()">&raquo;</a></li>
</ul>

<h3>Selected Players <span ng-class="{'text-green': numSelected === 5, 'text-red': numSelected !== 5}">{{numSelected}}/5</span></h3>
<table class="table roster-init" ng-hide="numSelected === 0">
    <thead>
    <tr>
        <td></td>
        <td class="table-sortable" ng-click="sortAthletesBy('name')">Player Name <i ng-class="isSelectedColumn('name')" class="glyphicon"></i></td>
        <td class="table-sortable" ng-click="sortAthletesBy('division')">Solo-Queue Rating <i ng-class="isSelectedColumn('division')" class="glyphicon"></td>
        <td class="table-sortable" ng-click="sortAthletesBy('lane')">Lane <i ng-class="isSelectedColumn('lane')" class="glyphicon"></td>
        <td>Best Champions</td>
        <td class="table-sortable" ng-click="sortAthletesBy('salary')">Expected Salary <i ng-class="isSelectedColumn('salary')" class="glyphicon"></td>
        <td class="table-sortable" ng-click="sortAthletesBy('popularity')">Popularity <i ng-class="isSelectedColumn('popularity')" class="glyphicon"></td>
    </tr>
    </thead>
    <tbody>
        <tr class="row-highlight" ng-repeat="athlete in allRecruitableAthletes | filter:{selected: true}" ng-click="toggleAthleteSelected(athlete)" ng-class="{'athlete-selected': athlete.selected === true}">
            <td>
                <input ng-model="athlete.selected" type="checkbox">
            </td>
            <td>
                {{athlete.name}}
            </td>
            <td>
                <img class="division-small" ng-src="{{athlete.division_image}}" /> {{athlete.division}}
            </td>
            <td>
                {{athlete.lane}}
            </td>
            <td>
            <span ng-repeat="topChampAff in athlete.champion_affinities">
                <img class="champion" ng-src="{{topChampAff.image}}" />
            </span>
            </td>
            <td>
                ${{athlete.salary}}/week
            </td>
            <td>
                <span class="label label-primary">{{athlete.popularity}}</span>
            </td>
        </tr>
    </tbody>
</table>

}