@(loginForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@mainbase("League Manager - Login") {
<div class="auth-container">
    <h1>League Manager</h1>
    <div class="span3">
        @* Display proprietary login form *@
        @helper.form(routes.Application.doLogin) {

        @if(loginForm.hasGlobalErrors) {
        <p class="error">
            <span class="label label-important">@loginForm.globalError.message</span>
        </p>
        }

        @_emailPartial(loginForm)

        @inputPassword(
        loginForm("password"),
        '_showConstraints -> false,
        '_label -> Messages("playauthenticate.login.password.placeholder")
        )

        <input type="submit" value="Log in" class="btn btn-primary"><br/>
        <br/>
        <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("playauthenticate.login.forgot.password")</a>
        <br />
        <a href="@routes.Application.signup()">Sign up</a>
        }
    </div>
</div>
}