@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mainbase.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Application.jsRoutes" defer="defer"></script>
</head>
<body>
<div class="container">
    @if(flash.contains(Application.FLASH_ERROR_KEY)) {
    <div class="alert alert-danger login-alert col-md-9">
        @flash().get(Application.FLASH_ERROR_KEY)
    </div>
    }
    @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
    <div class="alert alert-success login-alert col-md-9">
        @flash().get(Application.FLASH_MESSAGE_KEY)
    </div>
    }

    @content

    <hr>

    <footer class="main-footer">
        <p>&copy; 2013-2014 League Manager</p>
        <small>Authentication by <a href="http://joscha.github.io/play-authenticate/" target="_blank">Play Authenticate</a> &middot; League of Legends by
            <a href="http://www.riotgames.com/" target="_blank">Riot Games</a></p>
    </footer>
</div> <!-- /container -->
</body>
</html>
