@(team: Team, game: Game, date: Long)

@import helper._

@gamebase("Overview", team.name, team.logo, game.money, 4, 0) {
    <div class="panel-large">
        <div ng-init="initializeDate(@date)" ng-controller="OverviewCtrl" class="overview-element">
            <div class="overview-ctrl">
                <button ng-click="advanceWeek()" type="button" class="btn btn-success">Go to Next Week</button>
            </div>
            <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="overview" ></div>
        </div>

        <div class="overview-element">
            <h2>Player Overview</h2>
            <ul class="list-unstyled list-inline">
                @for(teamMember <- Athlete.findAthletesOf(team)) {
                    <li class="overview-athlete-item">
                        @athletePortraitHelper(teamMember.portrait)
                        <ul class="list-unstyled list-inline-block overview-athlete-info">
                            <li class="overview-athlete-name">@teamMember.name</li>
                            <li>Morale:</li>
                            <li>@moraleBarHelper(teamMember.getRoundedMorale())</li>
                            <li>Current Activity:</li>
                            <li><a href="">Not Assigned</a></li>
                        </ul>
                    </li>
                }
            </ul>
        </div>

        <div class="overview-element">
            <h2>Weekly Financial Overview</h2>
            <table class="table">
                <tr class="overview-finance-headings">
                    <td>Profit</td>
                    <td>Cost</td>
                    <td>Net</td>
                </tr>
                <tr>
                    <td class="text-success"></td>
                    <td class="text-danger"></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
}
