@(initRosterForm: Form[_], athleteList: List[Athlete], localTeam: Team)

@import helper._

@gamebase("League Manager - Roster Creation", localTeam.name, localTeam.logo, 0, 0) {
<div class="small-panel">
    <h1>Recruit Solo-Queue Players</h1>
    @helper.form(routes.Application.doRosterInit) {
        @if(initRosterForm.hasGlobalErrors) {
            <span class="label label-danger">@initRosterForm.globalError.message</span>
        }

        @_recruitAthletesPartial(initRosterForm, athleteList, localTeam)


        <input type="submit" value="Continue" class="btn btn-primary"><br/>
    }
</div>
}
