@(initRosterForm: Form[_], athleteList: List[Athlete], localTeam: Team, localGame: Game)

@import helper._

@gamebase("Roster Creation", localTeam.getName(), localTeam.getLogo(), localGame.getMoney(), 0, 0) {
<div class="panel-small" ng-controller="RosterInitCtrl">
    <h1>Recruit Solo-Queue Players</h1>
    @helper.form(routes.Application.doRosterInit) {
        @if(initRosterForm.hasGlobalErrors) {
            <span class="label label-danger">@initRosterForm.globalError.message</span>
        } else {
            @if(initRosterForm.hasErrors) {
                <span class="label label-danger">You have not selected any players.</span>
            }
        }

        @_recruitAthletesPartial(initRosterForm, athleteList, localTeam)


        <input type="submit" value="Continue" class="btn btn-primary"><br/>
    }
</div>
}
