@(signupForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@mainbase("Sign up") {
<div class="auth-container">
    <div class="row">
        <div class="span6">
            <h1>Sign up</h1>
        </div>
    </div>

    <div id="signup" class="row">

        <div class="span3">
            @* Display proprietary login form *@
            @helper.form(routes.Application.doSignup) {

            @if(signupForm.hasGlobalErrors) {
            <p class="error">
                <span class="label label-important">@signupForm.globalError.message</span>
            </p>
            }

            @inputText(
            signupForm("name"),
            '_label -> Messages("playauthenticate.signup.name")
            )

            @_emailPartial(signupForm, true)

            @_passwordPartial(signupForm)
            <input type="submit" value="Sign up" class="btn btn-primary">
            <br />
            <br />
            <a href="@routes.Application.login()">Log in</a>
            }
        </div>

    </div>
</div>
}