@(initTeamForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@gamebase("Team Creation", null, null, null, 0, 0) {
    <div class="small-panel">
        <h1>Create a New Team</h1>
        @helper.form(routes.Application.doTeamInit) {
            @if(initTeamForm.hasGlobalErrors) {
                <span class="label label-danger">@initTeamForm.globalError.message</span>
            }

            @inputText(
                initTeamForm("name"),
                '_showConstraints -> false,
                '_label -> "Team Name"
            )

            @_teamlogosPartial(initTeamForm)

            <input type="submit" value="Continue" class="btn btn-primary"><br/>
        }
    </div>
}
